@import "tailwindcss";
@import "../_style/animation.css";

:root {
  --color-black-900: #292d3a;
  --color-black-950: #1a1818;
  --color-turquoise: #45c8d9;
  --color-green: #00e0af;
  --color-white-900: #f7f8f9;
}

@theme {
  --color-turquoise: var(--color-turquoise);
  --color-black-900: var(--color-black-900);
  --color-black-950: var(--color-black-950);
  --color-white: var(--color-white-900);
}

* {
  transition: all 0.4s;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-turquoise);
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, 0);
}
