@import "@heroui/styles";
@import "tailwindcss";
@import "../_style/animation.css";

@font-face {
  font-family: "iran-sans";
  src: url("/IRANSansXV.ttf") format("truetype");
  font-display: swap;
}

:root {
  --color-black-900: #292d3a;
  --color-black-950: #1a1818;
  --color-turquoise: #45c8d9;
  --color-green: #00e0af;
  --color-white-900: #f7f8f9;
  --font-iran-sans: "iran-sans";
}

@theme {
  --color-turquoise: var(--color-turquoise);
  --color-black-900: var(--color-black-900);
  --color-black-950: var(--color-black-950);
  --color-white: var(--color-white-900);
  --font-main: var(--font-outfit);
  --font-iran-sans: var(--font-iran-sans);
  --font-vazir: var(--font-vazirmatn);
}

* {
  transition: all 0.4s;
}

.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #45c8d9cb;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, 0);
}

input:checked {
  accent-color: red !important;
}

.text-expand {
  overflow: auto;
  text-wrap: wrap;
}

.text-collaps {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.iran-sans {
  font-family: "iran-sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
